/* utility classes */
.center {
  text-align: center;
}

.right {
  text-align: end;
}

button, a.button {
  display: block;
  inline-size: 100%;
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-wrap: balance;
  text-decoration: none;
  padding: 0.5em;
  margin-inline: auto;
  color: var(--color-fore3);
  background-color: var(--color-hint1);
  border-radius: var(--border-radius1);

  &:hover, &:active, &:focus {
    background-color: var(--color-fore2);
  }
}

.breadcrumb {

  font-size: var(--fsize--2);

  ol, li, a {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  li::after {
    display: inline;
    content: '\25b6';
    font-size: 0.6em;
    padding-inline: 0.8em;
    vertical-align: 10%;
  }

}
