/* default variables */
:root {
  --font-body: Fredoka, "Verdana Fallback", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --font-head: --var(font-body);
  --font-weight-normal: 350;
  --font-weight-bold: 600;
  --font-weight-head: 500;

  --fsize--2: clamp(0.88rem, 0.655rem + 1vw, 1.28rem);
  --fsize--1: clamp(1.1rem, 0.8188rem + 1.25vw, 1.6rem);
  --fsize-0: clamp(1.375rem, 1.0234rem + 1.5625vw, 2rem);
  --fsize-1: clamp(1.7188rem, 1.2793rem + 1.9531vw, 2.5rem);
  --fsize-2: clamp(2.1484rem, 1.5991rem + 2.4414vw, 3.125rem);
  --fsize-3: clamp(2.6855rem, 1.9989rem + 3.0518vw, 3.9063rem);
  --fsize-4: clamp(3.3569rem, 2.4986rem + 3.8147vw, 4.8828rem);
  --fsize-5: clamp(4.1962rem, 3.1233rem + 4.7684vw, 6.1035rem);

  --layout-width: 58rem;
  --layout-margin: min(3vw, 3rem);
  --layout-list: 3;
  --layout-list-width: calc( (var(--layout-width) - var(--layout-margin) * var(--layout-list)) / var(--layout-list) );
  --main-width: min(var(--layout-width), 100% - (2 * var(--layout-margin)));

  --color-fore1: #444;
  --color-fore2: #c70862;
  --color-fore3: #fff;

  --color-back1: #fff;
  --color-back2: #0a8739;
  --color-back3: #1676a6;

  --color-hint1: #05965F;

  --border-radius1: 0.4em;
}
