/* lists of pages */
nav.pagelist {

  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(var(--layout-list-width), 1fr));
  gap: max(1em, var(--layout-margin));
  margin-block: var(--layout-margin);

  a:link, a:visited {
    display: block;
    block-size: 100%;
    text-decoration: none;
    color: var(--color-fore1);
    border: 3px solid var(--color-back2);
    border-radius: var(--border-radius1);
    overflow: hidden;
  }

  a:hover, a:active, a:focus {
    background-color: var(--color-back2);
    border-color: var(--color-hint1);

    * { color: var(--color-fore3); }
  }

  img {
    inline-size: 100%;
    block-size: 8em;
    object-fit: cover;
    object-position: center 80%;
    margin-block-start: 0;
    box-shadow: none;
  }

  h2, h3, h4, h5, h6 {
    font-size: var(--fsize-1);
    margin-block-start: 2rem;
    margin-inline: 2rem;
  }

  p {
    font-size: var(--fsize--1);
    padding-block-end: 2rem;
    margin-inline: 2rem;
  }

  p.pubdate, p.wordcount {
    font-size: var(--fsize--2);
    text-align: end;
    padding: 0;
    margin: 0;
    border: 0 none;
    color: var(--color-fore3);
  }

}

@media screen and (width > 900px) {
  nav.pagelist:has(> :nth-child(4)) a {
    min-block-size: 12em;
  }
}
