@import url('./core/fonts.css');
@import url('./core/reset.css') layer(reset);
@import url('./core/variables.css');
@import url('./core/elements.css');
@import url('./core/details.css');
@import url('./core/tables.css');
@import url('./core/utility.css');

/* @import url('./components/header.css');
@import url('./components/share.css');
@import url('./components/footer.css');
*/

@import url('./core/print.css');
