<!DOCTYPE html>
<html lang="${ tacs.config.language }" dir="ltr">
<head>
<meta charset="UTF-8">
<title>${ data.title || tacs.config.title }${ data?.pagination?.pageTotal > 1 ? ` (page ${ tacs.fn.format.number( data.pagination.pageCurrent1 ) } of ${ tacs.fn.format.number( data.pagination.pageTotal ) })` : ''}</title>
<meta name="viewport" content="width=device-width,initial-scale=1,interactive-widget=overlays-content">

<!-- Content Security Policy -->
<meta http-equiv="Content-Security-Policy" content="
default-src 'none';
base-uri 'self';
img-src 'self' data: https://i.ytimg.com/;
media-src 'self';
font-src 'self';
style-src 'self' 'sha256-eOANnkh+8ZkmWe5F5iCY2ExX/ROWx4nlvQjkDJqYUd0=';
script-src 'self' 'sha256-OM0hjhCFzKhe37rKuW7480xLoDyRIzyLMKCvzoH6tGU=' static.cloudflareinsights.com;
connect-src 'self' cloudflareinsights.com;
form-action 'none';
frame-src https://www.youtube-nocookie.com/;
manifest-src 'self';
">

<!-- assets -->
<link rel="stylesheet" href="${ tacs.root }css/main.css">
<script type="module" src="${ tacs.root }js/main.js"></script>

<!-- meta -->
<meta name="description" content="${ data.description || tacs.config.description }">
<meta name="author" content="${ data.author || tacs.config.author }">
<link rel="canonical" href="${ tacs.config.domain }${ data.link }">

<!-- search -->
<meta name="robots" content="${ data.index ? 'index,follow' : 'noindex,follow' }">

<!-- sitemap -->
<link rel="sitemap" type="application/xml" href="${ tacs.config.domain }${ tacs.root }sitemap.xml">
<link rel="sitemap" type="text/plain" href="${ tacs.config.domain }${ tacs.root }sitemap.txt">

<!-- application -->
<meta name="application-name" content="${ tacs.config.title }">
<meta name="theme-color" content="${ tacs.config.themeColor }">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-title" content="${ tacs.config.title }">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">

<!-- theme -->
<link rel="apple-touch-icon" sizes="180x180" href="${ tacs.root }favicon180.png">
<link rel="icon" type="image/png" sizes="32x32" href="${ tacs.root }favicon032.png">
<link rel="icon" type="image/png" sizes="16x16" href="${ tacs.root }favicon016.png">
<link rel="manifest" href="${ tacs.root }site.webmanifest">

<!-- social media -->
<meta property="og:site_name" content="The Animal Says...">
<meta property="og:url" content="${ tacs.config.domain }${ data.link }">
<meta property="og:title" content="${ data.title || tacs.config.title }">
<meta property="og:description" content="${ data.description || tacs.config.description }">
<meta property="og:type" content="article">
<meta property="og:locale" content="${ tacs.config.language }">
<meta property="og:image" content="${ tacs.config.domain }${ tacs.root }${ data.hero || 'favicon512.png' }">
${ data.isDirIndex || data.isTagIndex ? '' : `
<meta property="article:published_time" content="${ tacs.fn.format.dateISO( data.date ) }">
<meta property="article:modified_time" content="${ tacs.fn.format.dateISO( data.modified || data.date ) }">
` }
<meta name="twitter:card" content="summary_large_image">

</head>
<body${ data.bodyClass ? ` class="${ data.bodyClass }"` : '' }>
