
${ data.product && `<script type="application/ld+json">{
"@context": "http://schema.org/",
"@type": "${ data.product }",
"name": "${ data.title }",
"description": "${ data.description }",
"offers": {
"@type": "Offer", "availability": "https://schema.org/InStock", "price": "${ data.price || '99.99' }", "priceCurrency": "GBP",
"shippingDetails": { "@type": "OfferShippingDetails", "hasShippingService": { "@type": "ShippingService", "shippingConditions": { "@type": "ShippingConditions", "shippingDestination": [ { "@type": "DefinedRegion", "addressCountry": "UK" } ], "shippingRate": "0" } } }
},
"image": "${ tacs.config.domain }${ tacs.root }${ data.hero ? `images/${ data.hero }` : 'favicon512.png' }",
"url": "${ tacs.config.domain }${ tacs.root }${ data.link }",
"countryOfOrigin": { "@type": "Country", "name": "UK" },
${ data.product === 'Book' ? `"copyrightHolder": { "@type": "Person", "name": "${ tacs.config.author }" },` : '' }
"isFamilyFriendly": true
}</script>` }
